<strong>Olá, {{ student }}</strong>
<p>Sua matrícula foi realizada com sucesso!</p>
<p>
  <strong>Plano: </strong> {{ plan.title }} <br />
  <strong>Fim do plano: </strong> {{ plan.end }} <br />
  <strong>Valor do plano: </strong> {{ plan.price }} <br />
  <br />
  Seja bem-vindo :D
</p>
